themes {
    dynamic {
        fg "#c5d3d6"
        bg "#1c2021"
        black "#1c2021"
        red "#d16c78"
        green "#7bc682"
        yellow "#d1b879"
        blue "#81a1d1"
        magenta "#b479d1"
        cyan "#7ecccc"
        white "#ffffff"
        orange "#79b2d1"
    }
}
