input {
    keyboard {
        xkb {
            layout "pl"
        }
    }
    touchpad {
        tap
        dwt
    }
}

layout {
    gaps 12
    default-column-width { proportion 0.5; }
    background-color "transparent"


    border {
        width 1
        active-color "transparent"
        inactive-color "transparent"
    }
    
    focus-ring {
        width 3
        active-color "#d1c979aa"
        inactive-color "transparent"
    }
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

window-rule {
    match title="ghostty-scratchpad"
    open-floating true
    default-column-width { proportion 0.65; }
    default-window-height { proportion 0.65; }
}

prefer-no-csd 
spawn-at-startup "xwayland-satellite"
spawn-at-startup "waybar"
spawn-at-startup "mako"
spawn-at-startup "swaybg" "-i" "/home/theo/Dotfiles/Wallpapers/wallhaven-5ymj95.jpg"
spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"

binds {
    Mod+T { spawn "ghostty"; }
    Mod+Shift+T { spawn "ghostty" "--title=ghostty-scratchpad"; }
    Mod+D { spawn "rofi" "-show" "drun"; }
    Mod+W { spawn "~/.config/rofi/wallpaper_picker.sh"; }
    Mod+V { spawn "~/.config/rofi/cliphist.sh"; }
    Mod+Shift+P { spawn "~/.config/rofi/powermenu.sh"; }
    Mod+0 { spawn "~/.config/rofi/powermenu.sh"; }
    Mod+Q { close-window; }
    Mod+Tab { toggle-overview; }
    Mod+Shift+E { quit; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+C { center-column; }

    Mod+Left  { focus-column-left; }
    Mod+Right { focus-column-right; }
    Mod+Down  { focus-window-or-workspace-down; }
    Mod+Up    { focus-window-or-workspace-up; }
    
    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }

    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Right { move-column-right; }
    
    Mod+Shift+Down  { move-window-down; }
    Mod+Shift+Up    { move-window-up; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+Shift+J { consume-or-expel-window-left; }
    
    Mod+Shift+L { consume-or-expel-window-right; } 
    Mod+L allow-when-locked=true { 
        spawn "swaylock" "-S" "--clock" "--indicator" "--indicator-radius" "100" "--indicator-thickness" "7" "--effect-blur" "7x5" "--ring-color" "ffffff" "--key-hl-color" "e6db74" "--inside-color" "00000088" "--separator-color" "00000000" "--ring-ver-color" "00000000" "--ring-wrong-color" "e6db74" "--text-ver-color" "00000000" "--text-wrong-color" "00000000" "--inside-ver-color" "00000000" "--inside-wrong-color" "00000088"
    }

    Mod+Alt+Left  { focus-monitor-left; }
    Mod+Alt+Right { focus-monitor-right; }
    
    Mod+Alt+Up    { focus-monitor-up; }
    Mod+Alt+Down  { focus-monitor-down; }

    Mod+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Ctrl+Right { move-column-to-monitor-right; }

    Mod+Shift+S {
	spawn "sh" "-c" "grim -g \"$(slurp)\" - | satty --filename - --fullscreen --output-filename ~/Pictures/Screenshots/$(date +%Y-%m-%d_%H-%M-%S).png"
    }
}

hotkey-overlay {
    skip-at-startup
}

// Lenovo Laptop Screen (Left Side)
output "eDP-1" {
    position x=0 y=0
    scale 1.25
}

// LG Ultrawide Monitor (Right Side)
output "HDMI-A-1" {
    position x=1536 y=0
    scale 1.0
}

